*{
    margin: 0;
    padding: 0;
}

.header{
    height: 300px;
    width: 100%;
    background-color: #3B3737;
}
.logo{
    background-image: url(./starker-removebg-preview\ \(1\).png);     
    background-size: cover; /* Para cobrir todo o espaço */
    background-position: center center; /* Para centralizar a imagem */
    background-repeat: no-repeat; /* Para evitar repetição */

}
header .flags ul li a img{
    height: 20px;
    width: 40px;
    padding-left: 10px;
}

