.header{
    height: 300px;
    width: 100%;
    background-color: #3B3737;
}
.logo{
      display: flex;
      position: relative;
      justify-content: center;
      align-items: center;
      height: 660px;
      
}
.button1{
   background-color: transparent;
   border: none;
 
}
.button2{
   background-color: transparent;
   border: none;
 
}.button3{
   background-color: transparent;
   border: none;
 
}
.brasil{
    height: 20px;
    width: 40px;
}
.germany{
     height: 20px;
    width: 40px;
}
.usa{
     height: 20px;
    width: 40px;
}